<launch>

    <node pkg="myagv_odometry" type="myagv_odometry_node" name="myagv_odometry_node" output="screen" />

    <param name = "robot_description" textfile = "$(find myagv_urdf)/urdf/myAGV.urdf"/> 
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!--node name="base2laser" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_footprint /laser_frame 50"/-->
    <!--node name="base2lodom_frame" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /odom /base_footprint 50"/-->
     <!--<node name="base2base_footpoint" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_footprint /base_link 50"/>-->
    <!--<node name="base2laser" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_link /laser 50"/>-->



    <!--node name="rviz2" pkg="rviz" type="rviz" args="-d $(find myagv_odometry)/launch/lidar.rviz" /-->

</launch>